:root {
    --bg: #0d0c22;
    --bgSoft: #2d2b42;
    --text: white;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}