.container {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.logo {
    font-weight: bold;
}

.text {
    font-size: small;
}